$primary: #FF8523;
$secondary1: #1F1D1C;
$secondary2: #FAFAFA;
$white: #FAFAFA;
$gray1: #F1F0F0;
$gray2: #D0CCCB;
$gray3: #ADA4A2;
$gray4: #877F7D;
$gray5: #625C5A;
$gray6: #3F3B3A;
$gray7: #1F1D1C;
$info: #254A62;
$error: #C50505;
$warning: #DFD721;
$success: #008F06;

$primary-100: #FFEDE8;
$primary-200: #FFBFA6;
$primary-300: #FF8523;
$primary-400: #CA6500;
$primary-500: #944800;
$primary-600: #622E00;
$primary-700: #341500;