@import "../utils/variables.scss";
@import "../utils/mixins.scss";

#client-details-banner {
  width: 1340px;
  height: 244px;
  flex-shrink: 0;

  margin: auto;

  border-radius: 24px;
  background: $primary1;

  margin-top: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 100px;
  img {
    width: 505.866px;
    height: 317px;
    flex-shrink: 0;
    margin-left: 95px;
    position: relative;
    bottom: 25px;
  }

}
#client-info {
    h1{
        margin-bottom: 13px;
    }
    article{
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 6px;
    }
}
#client-lists {
  display: flex;
  max-width: 1440px;
  padding: 24px 48px 48px 48px;
  align-items: flex-start;
  gap: 16px;

  margin: auto;
  margin-top: 49px;

//   background-color: aqua;
}
#client-bills,
#client-proposals {
  width: calc(180 + 16 + 16);
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  flex: 1 0 0;

  border-radius: 16px;
  background: #fafafa;
  box-shadow: 4px 4px 10px 0px rgba(208, 208, 208, 0.9),
    -4px -4px 8px 0px rgba(255, 255, 255, 0.9),
    4px -4px 8px 0px rgba(208, 208, 208, 0.2),
    -4px 4px 8px 0px rgba(208, 208, 208, 0.2),
    -1px -1px 2px 0px rgba(208, 208, 208, 0.5) inset,
    1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
}
