@import "../utils/variables.scss";
@import "../utils/mixins.scss";

#create-file-form {
  display: flex;
  flex-direction: column;
  width: 453px;
  margin: auto;
  gap: 24px;
  input {
    display: inline-flex;
    padding: 19px 19px 19px 26px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: 2px solid $gray3;
    background: #fcfdfd;
  }
  input::placeholder {
    min-width: fit-content;
    color: #a0a2a4;
    @include body1;
  }
  button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    width: 453px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 32px;
    background: $primary;

    color: #fcfdfd;
    text-align: center;

    /* Botón/Botón */
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 120% */
    letter-spacing: 0.05px;
  }
  button:hover {
    background-color: $primary-400;
    cursor: pointer;
  }
  button:disabled {
    background-color: $gray3;
    cursor: not-allowed;
  }
}
