@import "../utils/variables.scss";
@import "../utils/mixins.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 612px;
  margin: auto;
  // margin: 0px 50px;
  // margin-top: 29px;
  width: 1440px;
  & img {
    // position: relative;
    width: 233.043px;
    height: 134px;
    flex-shrink: 0;
  }
  & nav {
    display: flex;
    flex-wrap: nowrap;
    & a {
      text-decoration: none;
      white-space: nowrap;
      @include h5;
      margin-right: 34px;
    }
    & a:not(.active) {
      color: black;
    }
  }
}

.active {
  color: $primary;
}
