@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.monthly-tables {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
    min-width: 1340px;
  margin: 0px 50px;
  .monthly-table {
    width: 50%;
    td {
      background: none; /* Removes the default background */
      border: none; /* Removes the default border */
      outline: none; /* Removes the focus outline */
      padding: 0; /* Resets padding */
      margin: 0; /* Resets margin */
      font-family: inherit; /* Inherits font from parent element */
      font-size: inherit; /* Inherits font size from parent element */
      color: inherit;
        // min-width: 57px;
        max-width: 120px;
        max-height: 20px;

      //   display: flex;
      //   height: 40px;
      //   padding: 10px 8px;
      //   align-items: center;
      //   gap: 8px;
      //   align-self: stretch;

      border: 1px solid $gray2;
      //   border-bottom: 1px solid $gray2;
      background: $primary-100;
      > input {
        background: none; /* Removes the default background */
        border: none; /* Removes the default border */
        outline: none; /* Removes the focus outline */
        padding: 0; /* Resets padding */
        margin: 0; /* Resets margin */
        font-family: inherit; /* Inherits font from parent element */
        font-size: inherit; /* Inherits font size from parent element */
        color: inherit;

        display: flex;
        height: 40px;
        padding: 10px 8px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        height: 20px;

        // border-right: 1px solid $gray2;
        // border-bottom: 1px solid $gray2;
        background: #fff;
      }
    }
  }
}
.table-header {
  padding: 13px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 8px 8px 0px 0px;
  background-color: $primary-200;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.2px;
}
.table-subheaders {
  height: 21px;
  //   overflow: hidden;
}
.table-subheader {
  height: 47px;
  // padding: 13px 8px;
  //   padding: 0px 8px;
  padding: 0px;
  text-align: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  //   border-right: 1px solid #c2c2c2;
  //   border-bottom: 1px solid #c2c2c2;
  background: $primary-100;
  height: fit-content;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.035px;

  flex: 1 0 0;
  color: #1d2433;
  text-align: center;

  border: 1px solid $gray2;
  //   border-bottom: 1px solid $gray2;
  p {
    flex: 1 0 0;
    padding: 0;
    margin: 0;
    color: var(--text-icon-primary-black, #1d2433);
    text-align: center;

    /* Caption/caption */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.035px;
  }
}

.hidden-table {
    display: none;
  }
